{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">Reset Password</h1>
    <br/>
    <form id="resetPasswordForm" class="form form-reset-password" method="POST" action="" role="form">
           {{ form.csrf_token }}
            <div class="form-group">
                {{form.email.label}}
                {{form.email(size=64, placeholder="Email", class_="form-control")}}
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <p><input class="btn btn-primary" type="submit" value="Reset Password"></p>
    </form>
    <p>Click <a href="/">here</a> to login.</p>
</div>
{% endblock %}